#easy{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1f314e!important;
     font-weight: 700!important;
}
.nav-link{
    color: #2d3448 ;
}
.paul{
    filter: grayscale(100%);
}

.one{
    background-color: #e5efff;
}
.three{
    background-color: #e5efff;
}
.start{
    background-color: #00255e;
}
.play{
    text-align: center;

}
.smartwallet{
    padding: 1rem;
}
.flash{
    width: %;
    padding: 2rem;
    padding-top: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.how{
    font-style: italic;
    padding-top: 10%;
}
.card{
    box-shadow: 8px  10px 7px rgb(221, 221, 221) ;
    border-radius: 5px;
}
.it{
    font-size: 2rem;
}
.play{
  
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

}
.play img {
    display: block;

}
.payment{
    justify-content: center;
    width: 70%;
    margin-top: 4rem;
    margin-left: 3rem;
    font-size: 5rem;
   
}
.StartReceiving {
    font-size: 2rem;
}
.testimony{
text-align: center;
padding: 4rem;
color: #00255e ;
}
.lastcard{
    padding: 15% !important;
    
}
.footer{
    background-color: #f2f3f6;
    width: 100%;
}
.flash{

}
.copy{
    color: #2d3448;
    text-align: center;
}
.pin{
   
}{

}
.footer h5{
    color: #1f314e;
    font-weight: bolder;
}
.myFunction{
    box-shadow: 0px 5px 5px gray;
    position: sticky;
    top: 0;
    z-index: 99;
}
  @media screen and (max-width:990px){
      .first{
          display: none;
      }
      s
    .one{
        padding-left: 0% !important;
    }
    .phone{
        width: 100px !important;
    }
    .newphone{
        display: none;
    }
    .threecard{
        padding: 5%  !important ;

    }
    .payment{
        padding: 0%;
    }
  }
@media screen and (max-width:768px){
    .container{
        text-align: center;
        padding: 5%;

    }
    .phone{
        width: 200px;
    }
    .newphone{
        display: none;
    }
    .threecard{
        padding: 5%  !important ;

    }
    .payment{
        padding: 0%;
    }
}
@media screen and (max-width:540px){
    .container{
        text-align: center;
        padding: 5%;

    }
    .one{
        padding-left: 0% !important;
    }
    .phone{
        width: 100px !important;
    }
    .newphone{
        display: none;
    }
    .threecard{
        padding: 5%  !important ;

    }
    .payment{
        padding: 0%;
    }
}
  
    